@import "mixins";
@import "variables";

.heading {
 margin-bottom: 50px;
 &__title {
    font-size: clamp(24px, 2vw, 64px);
    text-transform: uppercase;
    text-shadow: 0px 3px 6px #161616;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 25px;
    line-height: 1.8;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: $color-primary;
    text-underline-offset: 10px;
 }
 &__subtitle {
   font-size: clamp(16px, 1.2vw, 24px);
   line-height: 1.6;
 }
}

.wrapper {
 max-width: 1800px;
 padding-right: 120px;
 padding-left: 120px;
 margin-left: auto;
 margin-right: auto;
 
 @include bp(dt) {
   padding-left: 75px;
   padding-right: 75px;
 }
 @include bp(tb) {
   padding-left: 50px;
   padding-right: 50px;
 }
}

.cases {
 background: linear-gradient(180deg, #000000 50%, #1A1A1A 77%, #54545400 100%), url(../public/img/pattern-leather.jpg);
 color: #fff;
 padding-bottom: 100px;
 &__bg {
   position: relative;
   &::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(180deg, #0000007C 0%, #000000 100%, #FFFFFF00 100%);
     z-index: 1;
   }
   img {
     width: 100%;
     vertical-align: bottom;
   }
 }
 .wrapper {
   position: relative;
   z-index: 3;
   margin-top: -200px;
   @include bp(dt) {
     margin-top: -100px;
   }
   @include bp(tb) {
     margin-top: -50px;
   }
 }
 &__heading {
   margin-bottom: 100px;
   @include bp(tb) {
     margin-bottom: 50px;
   }
 }
}

.map {
 padding-top: 100px;
 padding-bottom: 100px;
 .heading__title {
  text-shadow: unset;
 }
}