@import "mixins";
.footer {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  .container {
    padding: 50px 25px 100px 25px;
    display: flex;
    justify-content: space-between;
    @include bp(tb) {
      flex-direction: column;
      gap: 10px;
    }
    .social {
      display: flex;
      gap: 10px;
      justify-content: center;
      @include bp(tb) {
        order: -1;
      }
    }
    .small {
      font-size: 15px;
      font-weight: 300;
    }
  }
}
