@import "variables";

.contact__form {
 .form {
 display: flex;
 flex-wrap: wrap;
 gap: 25px;
 width: 100%;
 input, textarea {
  font-size: 18px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif!important;
 }
 input {
  flex: 1;
 }
 textarea {
  width: 100%;
  }
 }
 .button {
  font-size: clamp(14px, 1.5vw, 16px);
  font-weight: 900;
  text-transform: uppercase;
  color: $color-primary;
  border: none;
  margin: 0;
  padding: 12px 16px;
  width: auto;
  overflow: visible;
  background: transparent;
  cursor: pointer;
  line-height: 1;
  background-color: $color-secondary;
  border: solid 3px #A4A4A6;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.75);
  transition: all .4s ease;
  &:hover {
   color: #ffffff;
  }
  .arrow {
   font-size: clamp(18px, 1.5vw, 22px);
  }
 }
}