html,
body {
  padding: 0;
  margin: 0;
  background: #F2F2F2;
  font-family: 'Montserrat', sans-serif!important;
}

p {
  font-size: clamp(16px, 1vw, 20px);
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

*, *:before, *:after {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

.swiper {
  overflow: visible!important;
}

.swiper-buttons {
  display: flex;
  gap: 20px;
  margin-top: 25px;
  width: 100%;
  justify-content: center;
  .swiper-button-next, .swiper-button-prev {
    left: unset;
    right: unset;
    position: relative;
    color: #D4313E;
    margin-top: 0;
  }
}