@import "mixins";
@import "variables";

.navContainer {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgba(242, 245, 169, 0);
    transition: all 0.4s linear;
    .wrapper {
        max-width: 2000px;
        margin-right: auto;
        margin-left: auto;
        padding: 50px 40px 25px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.4s linear;

        @include bp(dt) {
            padding: 25px 25px 12px 12px;
        }
    }

    .logo {
        cursor: pointer;
        position: relative;
        width: 100%;
        max-width: 150px;
        height: 100%;
        transition: all 0.4s ease;

        @include bp(dt) {
            max-width: 100px;
        }
        @include bp(mb) {
            max-width: 90px;
        }
    }

    .list {
        font-weight: 600;
        text-transform: uppercase;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex: 1;
        gap: 25px;

        @include bp(ws) {
            gap: 12px;
        }

        .listItem {
            font-size: 18px;
            font-size: clamp(14px, 1.5vw, 16px);
            cursor: pointer;
            position: relative;
            span {
              @include bp(tb) {
                font-size: 15px;
              }
            }
            a {
                text-decoration: none;
                color: #fff;
                transition: color 0.4s ease;

                &:hover {
                    color: $color-primary;
                }

                &.active {
                    color: $color-primary;
                }
            }
        }

        .subMenu {
            position: absolute;
            min-width: 200px;
            padding: 24px;
            margin-left: -24px;
            margin-top: 0;
            background-color: $color-secondary;
            border-radius: 6px;
            list-style: none;

            @include bp(tb) {
                position: relative;
                flex-direction: column;
            }

            li {
                margin-bottom: 10px;
                @include bp(tb) {
                  margin-bottom: 5px;
                }
                a {
                    font-family: $font-primary;
                    font-size: 14px;
                    color: #ffffff;
                }
            }
        }
    }

    &.scrolled {
        background-color: rgba(0, 0, 0, 0.85);

        .wrapper {
            padding: 10px 20px 10px 10px;
        }

        .list {
            .listItem {
                a {
                    color: #ffffff;

                    &:hover {
                        color: $color-primary;
                    }

                    &.active {
                        color: $color-primary;
                    }
                }
            }
        }
    }

    .quote {
        padding: 12px 16px;
        font-size: clamp(12px, 1.5vw, 16px);
        font-weight: 900;
        color: $color-primary;
        background-color: $color-secondary;
        border: solid 3px #A4A4A6;
        box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.75);
        transition: all .4s ease;
        @include bp(tb) {
            margin-left: auto;
            margin-right: 20px;
        }
        @include bp(mb) {
          padding: 6px 12px;
          margin-right: auto;
        }
        &:hover {
            color: #ffffff;
            box-shadow: 1px 5px 8px 2px rgba(157, 1, 1, 0.75);
        }
    }
}

.mobileNav {
    display: none;
}

.line {
    width: 100%;
    height: 2px;
    background-color: $color-primary;
    transition: all 0.4s ease;
}

.navContainer {
    @include bp(tb) {
        .mobileNav {
            display: flex;
            gap: 10px;
            align-items: center;
            cursor: pointer;
            span {
                color: #fff;
                position: relative;
                z-index: 10000;
            }
        }

        .list {
            width: 100vw;
            height: 100vh;
            background-color: transparent;
            top: 0;
            right: 0;
            z-index: -50;
            margin: 0;
            padding: 0;
            font-weight: 800;
            list-style: none;

            &.open {
                position: fixed;
                flex-direction: column;
                justify-content: space-evenly;
                background-color: $color-secondary;
                align-items: center;
                padding: 50px;
                z-index: 9999;
                text-align: center;
            }

            .listItem {
                font-size: 20px;
                display: inline-block;

                a {
                    color: #ffffff;
                }
            }
        }

        .hamburger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 25px;
            height: 20px;

            &.open {
                .line {
                    &:nth-child(2) {
                        width: 0;
                        height: 0;
                        opacity: 0;
                    }

                    &:nth-child(1) {
                        transform: rotate(-45deg) translateY(4px) translateX(-8px);
                    }

                    &:nth-child(3) {
                        transform: rotate(45deg) translateY(-6px) translate(-8px);
                    }
                }
                z-index: 10000;
            }
        }
    }
}